<h4>Filtrer</h4>
<div class="list-group">
    <% Sepcies.all.each do |species| %>
        <%= link_to species.name, species_posts_path(slug: species.slug), class: 'list-group-item' %>
    <% end %>
</div>
<h4>Nouveaux venus</h4>
<div class="list-group">
    <%= render Pets.limit(4) %>
</div>
