<div class="row">
    <div class="col-md-2">
        <%= image_tag @pet.avatar_url, class: 'img-circle' %>
    </div>
    <div class="col-md-10">
        <h2><%= @pet.name %></h2>
        <%= link_to "S'abonner", [@pet, Subscription], method: :post %>
    </div>
</div>


<div class="row">
    <% @pet.posts.each do |post| %>
    <div class="col-md-4">
        <%= render post %>
    </div>
    <% end %>
</div>
