<div class="panel panel-default">
    <div class="panel-heading">S'inscrire</div>
    <div class="panel-body">
        <%= form_for @user, class: 'form-horizontal' do |f|
            <%= f.text_field :name %>
        <% end %>
    </div>
</div>
