<div class="row">
    <div class="col-md-8">
        <h2>Dernières photos</h2>
        <div class="row">
        <% @posts.each do |post| %>
            <%= cache post do %>
                <%= render post %>
            <% end %>
        <% end %>
        </div>
    </div>
    <div class="col-md-4">
        <%= render 'shared/sidebar' %>
    </div>
</div>
