<div class="row">
    <div class="col-md-8">
        <h2>Dernières photos</h2>
        <div class="row">
            <%= render partial: 'posts/post', collection: @posts, cached: true %>
        </div>
    </div>
    <div class="col-md-4">
        <%= render 'shared/sidebar' %>
    </div>
</div>
