<div class="panel panel-default">
    <div class="panel-heading">
        Mot de passe oublié
    </div>
    <div class="panel-body">
        <%= form_for :user, url: password_path, html: {class: 'form-horizontal'} do |f| %>
        <div class="form-group">
            <%= f.label :email, "Votre email", class: 'col-md-4 control-label' %>
            <div class="col-md-6">
                <%= f.email_field :email, class: 'form-control' %>
            </div>
        </div>

        <div class="form-group">
             <div class="col-md-6 col-md-offset-4">
                 <button type="submit" class="btn btn-primary">
                        Envoyer le lien de réinitialisation
                </button>
            </div>
        </div>
    <% end %>
    </div>
</div>
